<nav>
   <a href="/place/create">Create New Place</a>
</nav>


<h1>Welcome {{ user.name }}</h1>
<img src="{{ user.photo }}" alt="profile-pic">
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
{{!--<p><strong>Name:</strong> {{profile.name}}</p>
<p><strong>Email:</strong> {{profile.email}}</p>--}}
<div class="moment-list">
  {{#each moments}}
    {{> moment}}
  {{/each}}
</div>

<a href="/profile/edit">Edit Profile</a>
<br>
 <a href="/moment/create">Create New Moment</a>

