<div class="profile">

<div id="profile-menu">  {{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -> PROFILE MENU <- --}}
      <div class="profpic"> {{!-- - - - - - - - - - - - - - - - - - - - - --> user profile picture <- --}}
          <img src="{{ user.photo }}" alt="profile-pic" id="pic">
      </div>
        
      <div class="buttons"> {{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - -> buttons <- --}}
        <p>Welcome, {{ user.name }}. Today is a good day.</p>
        <section class="menu">
          {{#if isMyOwnMyProfile}}
          <a href="/profile/edit">✎ Edit Profile</a>
        </section>
        {{/if}}
      </div>
</div>

<div id="section-map"> {{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - --> MAP SECTION <- --}}

      <nav class="navbar navbar-light justify-content-between" id="navbar-drop">
        <p>Your moments</p>     
        <select name="moment-filter">
        <option type="text"  value="Amused"> This Week </option>
        <option type="text"  value="Anxious"> Last Month </option>
        <option type="text"  value="Brave">  Last Year </option>
        </select>
      </nav>
     {{!-- <button id="trigger-location">Find moments near me</button> --}}
     <div id="map-user"></div> {{!-- - - - - - - - - - - - - - - - - - - - - - - - -> map <- --}}
  </div>
</div>

<div class="section-moment"> {{!-- - - - - - - - - - - - - - - - - - - - - - - -> MOMENT CARDS <- --}}

{{#each moments}}
<div id="user-moment-container">
    <div>
         <a href="/moment/{{_id}}" > <img src="{{ photo }}" alt="{{ description }}"> </a>
    </div>
    <div id="moment-preview">
         <h4 class="card-title">{{ description }}</h4>
         <p class="card-text">📍 {{ creator.name }} was feeling {{ feeling }}.</p>
         <a href="/moment/{{_id}}">View the moment</a>
    </div>
</div>
{{/each}}

</div>

<div id="scroll-up-button">
  <a href="#profile-menu">Back to top</a>
</div>

{{! muted coordinates for navigator geolocation }}
<label for="latitude-input"></label>
  <input type="hidden" id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input"></label>
  <input  type="hidden" id="longitude-input" type="text" placeholder="Longitude" name="longitude"> 
{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -> MAP SCRIPT <- --}}
<script>
  function init () {
    const mapContainerElement = document.getElementById('map-user');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
  
  const moments = {{{ json moments }}};

    for (let moment of moments) {
      const marker = new window.google.maps.Marker({
        map,
        position: {
          lat: moment.location.coordinates[0],
          lng: moment.location.coordinates[1]
        },
        icon: { url: "http://maps.google.com/mapfiles/ms/icons/orange-dot.png"  }
       
      });
      marker.addListener('click', () => {
        const endpoint = `/moment/${ moment._id }`;
        window.location = endpoint;
      });
    }

    const triggerLocationButton = document.getElementById('trigger-location');
     const latitudeInputElement = document.getElementById('latitude-input');
     const longitudeInputElement = document.getElementById('longitude-input');
      window.addEventListener('load', () => {
     window.navigator.geolocation.getCurrentPosition(position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      latitudeInputElement.value = latitude;
      longitudeInputElement.value = longitude;
      const marker = new window.google.maps.Marker({
        map,
        position:{
        lat: latitude, 
        lng: longitude
        },
        icon: { url: "http://maps.google.com/mapfiles/ms/icons/pink-dot.png"  }
      });
     } , error => {
      console.log(error);
     })
    });
     
}
</script>
{{> mapscript}}















  







  





