<div class="profile"> 
<ul>
   <a href="/moment/{{_id}}"><li><img src="{{ photo }}" alt="{{ description }}"></li> </a>
    <li>{{ feeling }}</li>
    <li>{{ description }}</li>
    <li>{{ learning }}</li>
    <li>{{ gratitude }}</li>
    <li>{{ location.coordinates.[1] }}</li>
    <li>{{ location.coordinates.[0] }}</li>
     <button> <a href="/moment/{{_id}}">Explore </a> </button>
  <button>  <a href="/moment/{{ _id }}/edit">Edit</a> </button>
   <button> <a href="/moment/delete">Delete</a></button>
</ul>
</div>