<div class="moment">
  {{#if moment.photo}}
    <img src="{{moment.photo}}"/>
  {{/if}}
  <h2>{{ moment.description }}</h2>
  <h3> {{ user.name }} is feeling {{ moment.feeling }}  </h3>
  <p>{{ moment.learning }}</p>
  <p>{{ moment.gratitude }}</p>
</div>

<a href="/moment/{{ moment.id }}/edit">Edit Moment</a>

<a href="/moment/delete">Delete this Moment</a>