<div class="profile"> 
<ul>
   <a href="/moment/{{_id}}"><li><img src="{{ photo }}" alt="{{ description }}"></li> </a>
    <li>{{ feeling }}</li>
    <li>{{ description }}</li>
    <li>{{ learning }}</li>
    <li>{{ gratitude }}</li>
    <li>{{ location.coordinates.[1] }}</li>
    <li>{{ location.coordinates.[0] }}</li>
    <li>Experienced by {{ creator.name }}</li>
     <button> <a href="/moment/{{_id}}">Explore </a> </button>
  <button>  <a href="/moment/{{ _id }}/edit">Edit</a> </button>
  <form action="/moment/{{ _id }}/delete" method="POST"> 
   <button>Delete Moment</button>
</form>
</ul>
<<<<<<< HEAD
</div>
=======


>>>>>>> 4f73d4d58e142f99b0d1e6cfd2163c0056f7b8f0
