<h1>☝️ Caution: You're editing history.</h1>

<form method="POST" enctype="multipart/form-data">

{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > FEELING <- --}}

<p>How are you feeling?</p>
<select name="feeling">
 <option>{{ moment.feeling }}</option>
 <option type="text"  value="Amused"> Amused </option>
 <option type="text"  value="Anxious"> Anxious </option>
 <option type="text"  value="Brave">  Brave</option>
 <option type="text"  value="Happy">  Happy</option>
 <option type="text"  value="Inspired"> Inspired </option>
 <option type="text"  value="Loved"> Loved </option>
 <option type="text"  value="Relaxed">  Relaxed</option>
 <option type="text"  value="Upset">  Upset</option>
</select>

{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > DESCRIPTION <- --}}

  <label for="description-input">Describe the moment in three words:</label>
  <input id="description-input" type="text" placeholder="Funny, Memorable, Sunset" value="{{ moment.description }}" name="description">


  
{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > LEARNING <- --}}

  <label for="learning-input">What did you learn in this moment?</label>
  <input id="learning-input" type="text" placeholder="I learned to dust off my ass and keep moving...." value="{{ moment.learning }}" name="learning">

{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > GRATITUDE <- --}}

  <label for="gratitude-input">What are you grateful for in this moment?</label>
  <input id="gratitude-input" type="text" placeholder="I am grateful for ...." value="{{ moment.gratitude }}" name="gratitude">

{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > IMAGE  --}}
  <p>Capture the moment:</p>
  <img src="{{moment.photo}}" alt="Moment Photo">
  <input type="file" name="photo">




{{!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > LOCATION  --}}

<p>Where are you?</p>

<div id="map-container"></div>  

<label for="latitude-input">Latitude</label>
  <input  id="latitude-input" type="text" placeholder="Latitude" name="latitude" value={{moment.location.coordinates.[0]}}>
  
  <label for="longitude-input">Longitude</label>
  <input  id="longitude-input" type="text" placeholder="Longitude" name="longitude" value={{moment.location.coordinates.[1]}}> 

<button>Ubelimi</button>
</form>

    <script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });

    let marker;
    const latitudeInputElement = document.getElementById('latitude-input');
    const longitudeInputElement = document.getElementById('longitude-input');
    map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      if (marker) {
        marker.setMap(null);
      }
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat: latitude,
          lng: longitude
        }
      });
      latitudeInputElement.value = latitude;
      longitudeInputElement.value = longitude;
    });
  }
</script>

{{> mapscript}}

