<h1>Single Moment</h1>

<span>Created by <a href="/profile/{{ moment.creator._id }}">{{ moment.creator.name }}</a></span>
<div id="map-container"></div>
<div class="moment">
  {{#if moment.photo}}
    <img src="{{moment.photo}}"/>
  {{/if}} 
  <h2>{{ moment.description }}</h2>
  <h3> {{ user.name }} is feeling {{ moment.feeling }}  </h3>
  <p>{{ moment.learning }}</p>
  <p>{{ moment.gratitude }}</p>
  <p> {{ moment.location.coordinates.[1] }}</p>
   <p> {{ moment.location.coordinates.[0] }}</p>
</div>


<a href="/moment/{{ moment.id }}/edit">Edit Moment</a>

<a href="/moment/delete">Delete this Moment</a>

<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
  
  
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat:  {{ moment.location.coordinates.[0] }},
        lng: {{ moment.location.coordinates.[1] }}
      }
    });
  };
</script>

{{> mapscript}}