<div id="single-moment-view">

    <div id="single-moment-description">
        <p>{{ moment.description }}</p>
    </div>

    <div id="photo-map">

      {{#if moment.photo}}
          <img src="{{moment.photo}}" id="single-moment-photo"/>
      {{/if}} 

      <div id="map-single"></div>

    </div> 

    <div id="single-moment-content">
        {{!-- <h3> {{ user.name }} is feeling {{ moment.feeling }}  </h3> --}}
        <p>{{ moment.learning }}</p>
        <p>{{ moment.gratitude }}</p>
        {{!-- <p> {{ moment.location.coordinates.[1] }}</p>
        <p> {{ moment.location.coordinates.[0] }}</p> --}}
    </div>




</div>
<div></div>




<a href="/moment/{{ moment.id }}/edit">Edit Moment</a>

<form action="/moment/{{ moment.id }}/delete" method="POST"> 
   <button>Delete Moment</button>
</form>

</div>

<script>
  function init () {
    const mapContainerElement = document.getElementById('map-single');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
  
  
    const marker = new window.google.maps.Marker({
      
      map,
      position: {
        lat:  {{ moment.location.coordinates.[0] }},
        lng: {{ moment.location.coordinates.[1] }}
      },
      
    });
  };
</script>

{{> mapscript}}