<div id="single-moment-view">

    <div id="single-moment-description">
        <p>{{ moment.description }}</p>
    </div>

    <div id="photo-map">

      {{#if moment.photo}}
          <img src="{{moment.photo}}" id="single-moment-photo"/>
      {{/if}} 

      <div id="map-single"></div>

    </div> 
    <div id="single-moment-content">
        {{!-- <h3> {{ user.name }} is feeling {{ moment.feeling }}  </h3> --}}
        <p>At this moment, {{ user.name }} was feeling {{ moment.feeling }}. {{ user.name }} says "{{ moment.learning }} {{ moment.gratitude }}"" What a moment! Ubelimi?</p>
        {{!-- <p> {{ moment.location.coordinates.[1] }}</p>
        <p> {{ moment.location.coordinates.[0] }}</p> --}}
    </div>

            {{#if isMyOwnMyProfile }}
      <div id="edit-delete">
              <form action="/moment/{{ moment.id }}/edit"> 
                 <button class="edit-button">Edit Moment</button>
              </form>
              <form action="/moment/{{ moment.id }}/delete" method="POST"> 
                 <button class="delete-button">Delete Moment</button>
              </form>
              {{/if}}
      </div>

      <div id="go-back-button">
            <button onclick="goBack()">Go Back</button>
            <script>
            function goBack() {
              window.history.back();
            }
            </script>
      </div>

</div>

<script>
  function init () {
    const mapContainerElement = document.getElementById('map-single');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat:  {{ moment.location.coordinates.[0] }},
        lng: {{ moment.location.coordinates.[1] }}
      },
      zoom: 11
    });
  
  
    const marker = new window.google.maps.Marker({
      
      map,
      position: {
        lat:  {{ moment.location.coordinates.[0] }},
        lng: {{ moment.location.coordinates.[1] }}
      },
      
    });
  };
</script>

{{> mapscript}}