<h1>The Place</h1>

<h3>Name: {{ place.name }}</h3>
<h3>Type: {{ place.type }}</h3>
<h6>Latitude: {{ place.location.coordinates.[1] }}</h6>
<h6>Longitude: {{place.location.coordinates.[0] }}</h6>

<div id="map-container"></div>

<a href="/place/{{ place.id}}/edit">Edit Place</a>
<form method="POST">
  <button>Delete Place</button>
</form>

<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
    const longitude = {{ place.location.coordinates.[0] }};
    const latitude = {{ place.location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>

{{> mapscript}}