<a href="/moment/{{ _id }}">
  <span>Created by {{ creator.name }} at {{ date creationDate "hh:mm, DD/MM/YYYY"}}</span>
  <div class="moment">
    <p>{{ content }}</p>
    {{#if photo}}
      <img src="{{photo}}" />
    {{/if}}
  </div>
</a>